@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@600&family=Questrial&display=swap');
@font-face {
    font-family: warung;
    src: url(/fonts/warung.ttf);
}

@font-face {
    font-family: pixel;
    src: url(/fonts/pixel.ttf);
}


body{
    margin: 0;
    padding: 0;

}

#map {
    position: relative;

}

/* Agrandissement pour les appareils mobiles */
@media (max-width: 1366px) {
    #map {
        width: 350%; /* Ajustez cette valeur pour agrandir la largeur */
        height: 350%; /* Ajustez cette valeur pour agrandir la hauteur */
    }
}

.image1 {
width: 100%;
height: 100%;
z-index: 1; /* Placez l'image en-dessous du SVG */
}

.image2 {
display: none;
width: 100%;
height: 100%;
}
  
svg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2; /* Placez le SVG au-dessus de l'image */

}

.modal {
    display: none;
    position: fixed;
    max-width: 90%; /* Définissez la largeur maximale souhaitée */
    max-height: 90%; /* Définissez la hauteur maximale souhaitée */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
    border-radius: 5px;
    overflow: auto; /* Ajoutez un défilement en cas de dépassement de taille */
    border: 3px solid black;
}


.modal p{
    color: #000000;
    font-family: 'Questrial', sans-serif;
}

.modal h1{
    color: #ffffff;
    font-family: pixel;
    padding: 0.5rem 1rem;
    background-color: #000000;
    border-radius: 2px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1366px) {
  .modal h1{
    color: #ffffff;
    font-family: pixel;
    font-size: 1.7vw;
    padding: 0.5rem 1rem;
    background-color: #000000;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
}

.modal h2{
    color: #000000;
    font-family: 'Questrial', sans-serif;
    padding: 0.3rem 3.4rem;
    text-align: center;
    background-color: white;
}

.modal h3{
    color: #000000;
    font-family: 'Questrial', sans-serif;
}

.modal ul{
    padding: 0;
    width: 100%;
}

.modal li{
    color: #000000;
    font-family: 'Questrial', sans-serif;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 10px;
    padding: 1%;
    list-style: none;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.modal li:last-child {
    margin: 0;
  }
  
  .modal li:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .modal li:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }

.modal li img{
    height: 2%;
    width: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

iframe{
    height: 50vh;
    width: 100%;
    border: 3px solid black;
}

@media (max-width: 1366px) {
    .modal p,
    .modal h2,
    .modal h3,
    .modal li {
        font-size: 1.7vw; /* Ajustez cette valeur en fonction de vos préférences */
    }
}


#switchButton {
    position: fixed;
    top: 20px; /* Ajustez cette valeur pour définir la distance depuis le haut */
    left: 20px; /* Ajustez cette valeur pour définir la distance depuis la gauche */
    z-index: 3; /* Placez le bouton au-dessus du reste du contenu */
    color: #000000;
    font-family: 'Questrial', sans-serif;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 10px;
    padding: 0.5vw 1vw;
    list-style: none;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    border-radius: 5px;
}

#switchButton:last-child {
    margin: 0;
  }
  
  #switchButton:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
    background-color: #ffe600;
  }
  
  #switchButton:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }

#maison,
#Activites,
#AnciensTravaux,
#Fac,
#Sig,
#OldJob,
#Nege,
#Contact,
#Texte {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s ease;
}

#maison.active,
#Activites.active,
#AnciensTravaux.active,
#Fac.active,
#Sig.active,
#OldJob.active,
#Nege.active,
#Contact.active,
#Texte.active {
    opacity: 1;
    transform: translateY(0);
    animation: moveUp 1s ease forwards;
}

@keyframes moveUp {
    to {
        transform: translateY(0);
    }
}

.clignotement {
animation: blink 1s infinite;
opacity: 1; /* Opacité par défaut */
}

.clignotement.hovered {
animation: none; /* Annule l'animation de clignotement au survol */
opacity: 1; /* Définit l'opacité à 1 au survol */
}
  

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*----Maison---*/

.container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 50px; /* Adjust the size of the circle */
    height: 50px; /* Adjust the size of the circle */
    border: 2px solid black; /* Black border */
    border-radius: 50%; /* Create a circle */
    background-color: white; /* White background */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; /* Adjust the spacing between circles */
    text-decoration: none; /* Remove underline for links */
    color: black;
}

.circle img {
    max-width: 60%; /* Adjust the size of the image within the circle */
    max-height: 60%; /* Adjust the size of the image within the circle */
}

.circle:last-child {
    margin: 0;
  }
  
  .circle:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .circle:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }

.modal li img{
    height: 2%;
    width: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.contacticon {
    max-width: 60%; /* Adjust the size of the image within the circle */
    max-height: 60%; /* Adjust the size of the image within the circle */
}

.flex {
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    width: 90%;
}

.flex img {
    height: 2%;
    width: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.bar {
    width: 30vw;
    height: 3vh;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 1366px) {
    .bar {
      width: 30vw;
      height: 1vh;
      border: 1px solid rgb(0, 0, 0);
      margin: 0 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
  }
}

.skill {
    height: 16px;
    width: 70px;
    font-weight: 1000;
}

.inside1 {
    border-radius: 30px;
    width: 90%;
    height: 3vh;
    background: rgb(0, 0, 0);
    animation: slide1 2s ease-in-out;
}

.inside2 {
    border-radius: 30px;
    width: 80%;
    height: 3vh;
    background: black;
    animation: slide2 2s ease-in-out;
}

.inside3 {
    border-radius: 30px;
    width: 55%;
    height: 3vh;
    background: black;
    animation: slide3 2s ease-in-out;
}

.inside4 {
    border-radius: 30px;
    width: 55%;
    height: 3vh;
    background: black;
    animation: slide3 2s ease-in-out;
}

.inside5 {
    border-radius: 30px;
    width: 55%;
    height: 3vh;
    background: black;
    animation: slide3 2s ease-in-out;
}

@media (max-width: 1366px) {
  .inside1 {
    border-radius: 20px;
    width: 90%;
    height: 1vh;
    background: rgb(0, 0, 0);
    animation: slide1 2s ease-in-out;
}

.inside2 {
    border-radius: 20px;
    width: 80%;
    height: 1vh;
    background: black;
    animation: slide2 2s ease-in-out;
}

.inside3 {
    border-radius: 20px;
    width: 55%;
    height: 1vh;
    background: black;
    animation: slide3 2s ease-in-out;
}

.inside4 {
    border-radius: 20px;
    width: 55%;
    height: 1vh;
    background: black;
    animation: slide3 2s ease-in-out;
}

.inside5 {
    border-radius: 20px;
    width: 55%;
    height: 1vh;
    background: black;
    animation: slide3 2s ease-in-out;
}
.flex img {
  height: 16px;
  width: auto;
  padding-left: 1%;
  padding-right: 1%;
}
}

@keyframes slide1 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes slide2 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes slide3 {
    from {
        width: 0;
    }
    to {
        width: 55%;
    }
}

/*---Loading---*/

#loading {width: 100%;height: 100vh;top: 0px;left: 0px;position: fixed;display: block; z-index: 999;background-color: black;}
.text-loading {
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    font-weight: bold;
    font-family: pixel;
    letter-spacing: 7px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25%;
  }
  
.text-loading{
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 100%) 0, hsl(0, 0%, 0%) 10%, hsl(0, 0%, 100%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s infinite linear;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 750px;
    }
    100% {
      background-position: 1500px;
    }
  }
  #compass {
    width: 100px;
    height: 100px;
    margin: 30px;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
  }
  
  #bezel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid #eee;
    border-radius: 50%;
  }
  
  #axis {
    position: absolute;
    left: 44px;
    top: 44px;
    width: 5px;
    height: 5px;
    background: #fff;
    border: 3px solid #666;
    border-radius: 50%;
  }
  
  #needle {
    position: absolute;
    left: 48px;
    width: 2px;
    height: 80px;
    top: 8px;
    -webkit-animation: spin 2s ease infinite;
    -moz-animation: spin 2s ease infinite;
    animation: spin 2s ease infinite;
  }
  
  #needle:after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-bottom: 40px solid #FF3600;
  }
  
  #needle:before {
    content: '';
    position: absolute;
    top: 40px;
    left: -1px;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-top: 40px solid #666;
  }
  
  #N {
    position: absolute;
    top: 5px;
    left: 39px;
    color: #FF3600;
    background-color: black;
  }
  
  #E {
    position: absolute;
    right: 5px;
    top: 39px;
    background-color: black;
    color: white;
  }
  
  #S {
    position: absolute;
    bottom: 5px;
    left: 39px;
    background-color: black;
    color: white;
  }
  
  #W {
    position: absolute;
    left: 5px;
    top: 39px;
    background-color: black;
    color: white;
  }
  
  .dir {
    font-family: arial, sans-serif;
    color: #999;
    font-size: 10px;
    background: #fff;
    padding: 5px;
  }
  
  .quad {
    display: block;
    width: 1px;
    background:#ddd;
    height: 80px;
    position: absolute;
    top: 8px;
    left: 48px;
  }
  
  #NWSE {
    transform: rotate(45deg);
  }
  
  #NESW {
    transform: rotate(-45deg);
  }
  
  #WE {
    transform: rotate(90deg);
  }
  
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }